<mat-tab-group>
  <mat-tab [label]="port.name.replaceAll('_', ' ')" *ngFor="let port of portifolio$ | async">
    <mat-grid-list cols="3" rowHeight="300px">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Total Cost</mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">{{port.metrics.cost}}</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card >
          <mat-card-header>
            <mat-card-title>Gains</mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <p><em>Unrealized: </em>{{port.metrics.unrealized_gain}}</p>
            <p><em>Realized: </em>{{port.metrics.realized_gain}}</p>
            <p><b>Total:</b>{{port.metrics.gain}}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="port.metrics.last_dividends">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Last Dividends</mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">{{port.metrics.last_dividends}}</mat-card-content>
        </mat-card>  
      </mat-grid-tile>
    </mat-grid-list>
    <app-widget-grid [colDefs]="colDefs" [data]="port.assets"></app-widget-grid>
    <!-- <mat-divider [style]=""></mat-divider> -->
    <div class="filter-container">
      <label>Show By:</label>
      <mat-radio-group [(ngModel)]="mode">
        <mat-radio-button value="ByPosition">
          Position
        </mat-radio-button>
        <mat-radio-button value="BySector">
          Sector
        </mat-radio-button>
        <mat-radio-button value="BySubSector">
          Sub-Sector
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <app-widget-pie *ngIf="mode === 'ByPosition'"
      [data]="pieChartData.get(port.name)?.get('ByPosition')"></app-widget-pie>
    <app-widget-pie *ngIf="mode === 'BySector'" [data]="pieChartData.get(port.name)?.get('BySector')"></app-widget-pie>
    <app-widget-pie *ngIf="mode === 'BySubSector'"
      [data]="pieChartData.get(port.name)?.get('BySubSector')"></app-widget-pie>
  </mat-tab>
</mat-tab-group>