<mat-tab-group>
  <mat-tab [label]="port.name.replaceAll('_', ' ')" *ngFor="let port of portifolio$ | async">

    <div class="metrics-container">
      <mat-card class="metric-card">
        <mat-card-header>
          <mat-card-title>Total Cost</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Total value: <span class="metric-value">{{ port.metrics.total_value | currency:'BRL' }}</span></p>
          <p>Total cost: <span class="metric-value">{{ port.metrics.cost | currency:'BRL' }}</span></p>
        </mat-card-content>
      </mat-card>

      <mat-card class="metric-card">
        <mat-card-header>
          <mat-card-title>Gains</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Unrealized: <span class="metric-value">{{ port.metrics.unrealized_gain | currency:'BRL' }}</span></p>
          <p>Realized: <span class="metric-value">{{ port.metrics.realized_gain | currency:'BRL' }}</span></p>
          <p>Total: <span class="metric-value total-gain">{{ port.metrics.gain | currency:'BRL' }}</span></p>
        </mat-card-content>
      </mat-card>

      <mat-card class="metric-card" *ngIf="port.metrics.last_dividends">
        <mat-card-header>
          <mat-card-title>Last Dividends</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="metric-value">{{ port.metrics.last_dividends | currency:'BRL' }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <app-widget-grid [colDefs]="colDefs" [data]="port.assets"></app-widget-grid>
    
    <div class="filter-container">
      <label>Show By:</label>
      <mat-radio-group [(ngModel)]="mode">
        <mat-radio-button value="ByPosition">Position</mat-radio-button>
        <mat-radio-button value="BySector">Sector</mat-radio-button>
        <mat-radio-button value="BySubSector">Sub-Sector</mat-radio-button>
      </mat-radio-group>
    </div>

    <app-widget-pie *ngIf="mode === 'ByPosition'"
      [data]="pieChartData.get(port.name)?.get('ByPosition')"></app-widget-pie>
    <app-widget-pie *ngIf="mode === 'BySector'" [data]="pieChartData.get(port.name)?.get('BySector')"></app-widget-pie>
    <app-widget-pie *ngIf="mode === 'BySubSector'"
      [data]="pieChartData.get(port.name)?.get('BySubSector')"></app-widget-pie>
  </mat-tab>
</mat-tab-group>
