<header class="app-header">
  <div class="header-left">
    <button class="header-icon-btn" aria-label="Toggle sidebar" (click)="onToggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="header-title">NegFinance</h1>
  </div>

  <div class="header-right">
    @if (hasValidSession()) {
      <button class="header-icon-btn" aria-label="Notifications">
        <mat-icon>notifications_none</mat-icon>
      </button>

      <button class="header-avatar-btn" [matMenuTriggerFor]="userMenu" aria-label="User menu">
        <img src="../../../assets/user-photo.jpg" alt="User avatar" class="header-avatar" />
      </button>

      <mat-menu #userMenu="matMenu" class="header-user-menu">
        <button mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    } @else {
      <button class="header-signin-btn">Sign in</button>
    }
  </div>
</header>