<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Helder Silva</h2>
      <h4>neghelder&#64;gmail.com</h4>
    </div>
    <img src="../../../assets/user-photo.jpg" alt="Helder SILVA">
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/portifolio"><mat-icon>list-alt</mat-icon>Portifolio</a>
  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/brokerage-history"><mat-icon>timeline</mat-icon>Brokerage History</a>
  <a mat-list-item routerLinkActive="list-item-active"
    routerLink="/analysis"><mat-icon>query_stats</mat-icon>Analysis</a>

</mat-nav-list>