<div class="content-container">
  <div class="header-row">
    <app-asset-type-selector
      [options]="assetTypeOptions"
      [selectedValue]="selectedAssetType"
      (selectionChange)="onAssetTypeChange($event)">
    </app-asset-type-selector>

    <div class="action-buttons">
      <button *ngIf="selectedData != undefined" mat-mini-fab color="dark" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="selectedData != undefined" mat-mini-fab color="dark" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="onRenameTicker()">
        <mat-icon>drive_file_rename_outline</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <app-loading-bar [loading]="loading"></app-loading-bar>

  <ng-container *ngIf="brokerageCollection$ | async">
    <div class="grid-wrapper">
      <app-widget-grid
        [colDefs]="colDefs"
        [data]="selectedNotes"
        (rowSelected)="onRowSelected($event)"
        (gridReady)="onGridReady($event)">
      </app-widget-grid>
    </div>
  </ng-container>
</div>
